.header-container {
  text-align: center;
  padding-top: 260px;
  padding-bottom: 260px;
  color: white;
}

.header-centerfold {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 40%;
  margin: 0 auto;
  background-color: rgba(0,0,0, 0.5);
}

.header-centerfold h1 {
  font-family: 'Cormorant Garamond', serif;
  margin-bottom: 20px;
}

.header-centerfold h3 {
  margin-bottom: 30px;
  font-size: 1.3em;
}

.header-centerfold .call-to-action {
  background-color: rgb(68, 163, 48);
}
