body .mobile-nav-menu {
  position: absolute;
  float: left;
  top: 65px;
  width: 60%;
  background-color: #6d6d6d;
  transition: transform 300ms ease-in-out 50ms;
  overflow-x: hidden;
}

body .show-nav-menu {
  transform: translate(680px, 0px);
}

body .mobile-nav-menu {
  margin-left: 0 !important;
}

.nav-list {
  width: 100%;
  display: block;
}

.nav-list li {
  line-height: 2em;
  display: block;
  padding-left: 8px;
  color: #fff;
}

.nav-list li:active {
  background-color: #525252;
}
